<div class="container footer">
    <div class="row justify-content-between">
        <div class="col-md-6 col-12">
            <span>"Proposals" Software by <a href="https://prosals.monumentlab.com">Monument Lab</a></span>
        </div>
        <div class="col-md-6 col-12">
            <span><img src="https://dss.ncf.edu/main/user/images/g5_hydrogen/JBClogosmall_400x400.JPG" style="width:100px;"></span><br />
            <span><a href="https://dss.ncf.edu/main">Digital Scholarship Studio</a></span>
        </div>
    </div>
</div>